/.metadata/
.cproject
.project
.settings/org.eclipse.cdt.codan.core.prefs
.settings/org.eclipse.core.resources.prefs
.settings/org.eclipse.core.runtime.prefs
.settings/language.settings.xml
/Debug/
/Release/
